In [12]:
from database import init_db, db_session
from bankmodel import Customer
from sqlalchemy import select

init_db()

In [2]:
customers = Customer.query.all()
customers

[<1c, 최원칠, 2, 500, silver>,
 <2c, 이서혁, 1, 2000, gold>,
 <3c, aiot, 3, 50000, vip>,
 <4c, 새싹, 4, 200000, vvip>]

In [2]:
c = db_session.get(Customer, '1c')
c

In [4]:
Customer.query.filter(Customer.c_id =='1c')[0]

In [5]:
q = db_session.execute(select(Customer)).scalars()
for c in q:
    print(c)

<1c, 원칠2, 3, 125735, vvip>
<2c, 이서혁, 1, 2000, gold>
<3c, aiot, 3, 50000, vip>
<4c, 새싹, 4, 200000, vvip>

In [6]:
q = db_session.execute(select(Customer).order_by(Customer.rat)).scalars()
for c in q:
    print(c)

<2c, 이서혁, 1, 2000, gold>
<3c, aiot, 3, 50000, vip>
<1c, 원칠2, 3, 125735, vvip>
<4c, 새싹, 4, 200000, vvip>

In [7]:
q = db_session.execute(select(Customer).where(Customer.name =='aiot')).scalars()
for c in q:
    print(c)

<3c, aiot, 3, 50000, vip>

In [8]:
customers[0].name = '원칠3'
db_session.commit()
customers = Customer.query.all()
customers

[<1c, 원칠3, 3, 125735, vvip>,
 <2c, 이서혁, 1, 2000, gold>,
 <3c, aiot, 3, 50000, vip>,
 <4c, 새싹, 4, 200000, vvip>]

In [9]:
customers[0].name = '원칠4'
customers[0].verified = True
db_session.commit()
customers = Customer.query.all()
customers

[<1c, 원칠4, 3, 125735, vvip>,
 <2c, 이서혁, 1, 2000, gold>,
 <3c, aiot, 3, 50000, vip>,
 <4c, 새싹, 4, 200000, vvip>]

In [11]:

c = Customer(c_id = '12c', name = '데이터베스')
db_session.add(c)
db_session.commit()
customers = Customer.query.all()
customers

[<1c, 원칠4, 3, 125735, vvip>,
 <2c, 이서혁, 1, 2000, gold>,
 <3c, aiot, 3, 50000, vip>,
 <4c, 새싹, 4, 200000, vvip>,
 <11c, 데이터베스, 0, 0, normal>,
 <12c, 데이터베스, 0, 0, normal>]

In [16]:
from bankmodel import Accounts
# accounts 테이블의 모든 계좌를 쿼리후 출력

accounts = Accounts.query.all()
accounts

[<11a, 100, 1c>,
 <12a, 400, 1c>,
 <21a, 2000, 2c>,
 <31a, 10000, 3c>,
 <32a, 20000, 3c>,
 <33a, 20000, 3c>,
 <41a, 100000, 4c>,
 <42a, 50000, 4c>,
 <43a, 20000, 4c>,
 <44a, 30000, 4c>]

In [17]:
# get함수를 활용해 a_id가 11a 인 계좌 출력
s = db_session.get(Accounts, '11a')
s

In [39]:
# 쿼리 filter 함수를 활용해 c_id가 3c인 계좌 출력
a = Accounts.query.filter(Accounts.c_id =='3c')[0]
a

In [30]:
# a_id가 45a이고 c_id가 4c인 계좌 생성후 DB에 추가
s = Accounts(a_id = '45a', c_id ='4c')
db_session.add(s)
db_session.commit()
accounts = Accounts.query.all()
accounts

[<11a, 100, 1c>,
 <12a, 400, 1c>,
 <21a, 2000, 2c>,
 <31a, 10000, 3c>,
 <32a, 20000, 3c>,
 <33a, 20000, 3c>,
 <41a, 100000, 4c>,
 <42a, 50000, 4c>,
 <43a, 20000, 4c>,
 <44a, 30000, 4c>,
 <45a, 0, 4c>]

In [55]:
# a_id가 21a인 계좌를 가져온후 금액을 4000으로 바꾸고 DB업데이트
s = Accounts.query.filter(Accounts.a_id == '21a')[0]
s.amount = 4000
db_session.commit()
accounts = Accounts.query.all()
accounts

[<11a, 100, 1c>,
 <12a, 400, 1c>,
 <21a, 4000, 2c>,
 <31a, 10000, 3c>,
 <32a, 20000, 3c>,
 <33a, 20000, 3c>,
 <41a, 100000, 4c>,
 <42a, 50000, 4c>,
 <43a, 20000, 4c>,
 <44a, 30000, 4c>,
 <45a, 0, 4c>]